html {
  background-color: var(--color-gray);
}

body {
  min-height: 100vh;
  font-family: 'Inconsolata', "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  letter-spacing: .1em;
  line-height: 1.75;
  color: var(--color-secondary);
}

*::selection {
  color: var(--color-primary);
  background-color: var(--color-secondary);
  opacity: .25;
}

a {
  color: inherit;
  text-decoration: none;
  transition: opacity var(--base-transition);

  &:hover {
    opacity: .5;
  }
}

img {
  max-width: 100%;
}
