$base-font-family: 'Exo 2', "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", sans-serif;
$base-font-size: 16px;
$base-font-color: #555;
$base-background-color: #fafafa;

$base-transition: .3s ease-in-out;

$color-black: #353535;
$color-white: #ffffff;
