:root {
  /* WEATHER COLOR THEMES */
  --color-sun-primary:#C01212;
  --color-sun-secondary:#ffffff;
  --color-cloud-primary:#f5f5f5;
  --color-cloud-secondary:#3f3f3f;
  --color-cloud-rain-primary:#1B3E91;
  --color-cloud-rain-secondary:#00FFD9;
  --color-cloud-lightning-primary:#757575;
  --color-cloud-lightning-secondary:#F2C94C;

  /* COMMON STYLES */
  --base-transition: .3s ease-in-out;
  --color-gray: #303030;
  --max-width: 500px;

  --color-primary: var(--color-cloud-primary);
  --color-secondary: var(--color-cloud-secondary);
}
