$base-transition: .3s ease-in-out;

$max-width: 700px;

// Colors
:root {
  /* 赤 */
  --primary-color: #C01212;
  --secondary-color: white;
  
  /* 青 */
  //  --primary-color: #1B3E91;
  //  --secondary-color: #00FFD9;
}

$color-primary: var(--primary-color);
$color-secondary: var(--secondary-color);
