.activity-nav {
  display: flex;
  align-items: center;
  
  > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    
    > li {
      list-style: none;
      margin-left: 25px;
      
      > a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}