.activity-list {
  width: 100%;
  height: 400px;
  padding: 50px 0;
  overflow-x: scroll;
  overflow-y: hidden;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  &__date-divider {
    height: 100%;
    margin-left: 100px;
    writing-mode: vertical-lr;
    letter-spacing: .2em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  $item-width: 400px;
  &__item {
    max-width: $item-width;
    margin: 25px 0 25px 50px;

    &--flickr {
      width: $item-width * 0.9;
      height: $item-width * 0.75 * 0.9; // Keep ratio 4:3
      > a {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 12px 20px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        
        > h2 {
          position: absolute;
          bottom: 10px;
          color: $color-white;
        }
      }
    }

    > a {
      display: block;
      color: $color-black;
      text-decoration: none;

      > img {}

      > h2 {
        font-size: 16px;
        letter-spacing: .1em;

        margin: 12px 0 0;
      }

      > p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        margin: 5px 0 0;
      }
    }

  }
}