.wave {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  z-index: 0;
  
  &::before {
    content: '';
    width: 700vw;
    height: 700vw;
    position: absolute;
    left: -300vw;
    bottom: calc(100vh - 250px);
    background: linear-gradient(40deg, #4EF980, #34C5EC);
    border-radius: 49% 48% 49% 48%;
    animation: wave 60s infinite linear;
  }
}

@keyframes wave {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
