@charset "UTF-8";
.loading { width: 100vw; height: 100vh; position: fixed; top: 0; left: 0; z-index: 99; background-color: beige; transition: all .2s ease-in-out; }

.loading.is-loaded { opacity: 0; pointer-events: none; }

/*! sanitize.css | CC0 Public Domain | github.com/jonathantneal/sanitize.css */
/* Normalization */
:root { -ms-overflow-style: -ms-autohiding-scrollbar; overflow-y: scroll; -webkit-text-size-adjust: 100%; text-size-adjust: 100%; }

audio:not([controls]) { display: none; }

details { display: block; }

input[type="number"] { width: auto; }

input[type="search"] { -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

main { display: block; }

summary { display: block; }

pre { overflow: auto; }

progress { display: inline-block; }

small { font-size: 75%; }

template { display: none; }

textarea { overflow: auto; }

[hidden] { display: none; }

[unselectable] { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

/* Universal inheritance */
*, ::before, ::after { box-sizing: inherit; }

* { font-size: inherit; line-height: inherit; }

::before, ::after { text-decoration: inherit; vertical-align: inherit; }

/* Opinionated defaults */
*, ::before, ::after { border-style: solid; border-width: 0; }

* { margin: 0; padding: 0; }

:root { box-sizing: border-box; cursor: default; font: 16px / 1.5 sans-serif; text-rendering: optimizeLegibility; }

html { background-color: #FFFFFF; }

a { text-decoration: none; }

audio, canvas, iframe, img, svg, video { vertical-align: middle; }

button, input, select, textarea { background-color: transparent; }

button, input, select, textarea { color: inherit; font-family: inherit; font-style: inherit; font-weight: inherit; }

button, [type="button"], [type="date"], [type="datetime"], [type="datetime-local"], [type="email"], [type="month"], [type="number"], [type="password"], [type="reset"], [type="search"], [type="submit"], [type="tel"], [type="text"], [type="time"], [type="url"], [type="week"], select, textarea { min-height: 1.5em; }

code, kbd, pre, samp { font-family: monospace, monospace; }

nav ol, nav ul { list-style: none; }

select { -moz-appearance: none; -webkit-appearance: none; }

select::-ms-expand { display: none; }

select::-ms-value { color: currentColor; }

table { border-collapse: collapse; border-spacing: 0; }

textarea { resize: vertical; }

::-moz-selection { background-color: #B3D4FC; text-shadow: none; }

::selection { background-color: #B3D4FC; text-shadow: none; }

@media screen { [hidden~="screen"] { display: inherit; }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) { clip: rect(0 0 0 0) !important; position: absolute !important; } }

/*
#styleguide
基本スタイル

```
<p>特に何も指定しないときの状態</p>
```
*/
body { -webkit-text-size-adjust: 100%; text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-smoothing: antialiased; text-rendering: auto; font-size: 14px; font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif; color: #333; background-color: #fafafa; min-height: 100vh; }

.container { position: relative; z-index: 1; }

.main { padding-top: 200px; }

.icon { display: inline-block; background-repeat: no-repeat; }

.icon.icon-web-navigation-line-craft-1-109681 { background-image: url("../images/icon.png"); background-position: 0px 0px; background-size: 1536px 1024px; width: 512px; height: 512px; }

.icon.icon-web-navigation-line-craft-2-109682 { background-image: url("../images/icon.png"); background-position: -512px 0px; background-size: 1536px 1024px; width: 512px; height: 512px; }

.icon.icon-web-navigation-line-craft-3-109688 { background-image: url("../images/icon.png"); background-position: 0px -512px; background-size: 1536px 1024px; width: 512px; height: 512px; }

.icon.icon-web-navigation-line-craft-4-109689 { background-image: url("../images/icon.png"); background-position: -512px -512px; background-size: 1536px 1024px; width: 512px; height: 512px; }

.icon.icon-web-navigation-line-craft-5-109690 { background-image: url("../images/icon.png"); background-position: -1024px 0px; background-size: 1536px 1024px; width: 512px; height: 512px; }

.activity-list { width: 100%; height: 400px; padding: 50px 0; overflow-x: scroll; overflow-y: hidden; display: flex; flex-direction: column; flex-wrap: wrap; justify-content: center; }

.activity-list__item { max-width: 400px; margin: 25px 0 25px 50px; }

.activity-list__item--date { height: 100%; margin-left: 100px; -webkit-writing-mode: vertical-lr; -ms-writing-mode: tb-lr; writing-mode: vertical-lr; letter-spacing: .2em; display: flex; justify-content: center; align-items: center; }

.activity-list__item--flickr { width: 360px; height: 270px; }

.activity-list__item--flickr > a { width: 100%; height: 100%; box-sizing: border-box; padding: 12px 20px; background-position: center center; background-size: cover; background-repeat: no-repeat; position: relative; }

.activity-list__item--flickr > a > h2 { position: absolute; bottom: 10px; color: #ffffff; }

.activity-list__item > a { display: block; color: #353535; text-decoration: none; }

.activity-list__item > a > h2 { font-size: 16px; letter-spacing: .1em; margin: 12px 0 0; }

.activity-list__item > a > p { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin: 5px 0 0; }

.activity-nav { display: flex; align-items: center; }

.activity-nav > ul { display: flex; align-items: center; justify-content: center; }

.activity-nav > ul > li { list-style: none; margin-left: 25px; }

.activity-nav > ul > li > a { text-decoration: none; color: inherit; }

.wave { position: absolute; width: 100vw; height: 100vh; overflow: hidden; transform: translate3d(0, 0, 0); z-index: 0; }

.wave::before { content: ''; width: 700vw; height: 700vw; position: absolute; left: -300vw; bottom: calc(100vh - 250px); background: linear-gradient(40deg, #4EF980, #34C5EC); border-radius: 49% 48% 49% 48%; animation: wave 60s infinite linear; }

@keyframes wave { from { transform: rotate(0deg); }
  to { transform: rotate(360deg); } }

.activity-list__item-enter-active, .activity-list__item-leave-active { transition-timing-function: ease-in-out; transition-duration: 450ms; transition-property: all; }

.activity-list__item-enter-active:nth-child(1), .activity-list__item-leave-active:nth-child(1) { transition-delay: 100ms; }

.activity-list__item-enter-active:nth-child(2), .activity-list__item-leave-active:nth-child(2) { transition-delay: 150ms; }

.activity-list__item-enter-active:nth-child(3), .activity-list__item-leave-active:nth-child(3) { transition-delay: 200ms; }

.activity-list__item-enter-active:nth-child(4), .activity-list__item-leave-active:nth-child(4) { transition-delay: 250ms; }

.activity-list__item-enter-active:nth-child(5), .activity-list__item-leave-active:nth-child(5) { transition-delay: 300ms; }

.activity-list__item-enter-active:nth-child(6), .activity-list__item-leave-active:nth-child(6) { transition-delay: 350ms; }

.activity-list__item-enter-active:nth-child(7), .activity-list__item-leave-active:nth-child(7) { transition-delay: 400ms; }

.activity-list__item-enter-active:nth-child(8), .activity-list__item-leave-active:nth-child(8) { transition-delay: 450ms; }

.activity-list__item-enter-active:nth-child(9), .activity-list__item-leave-active:nth-child(9) { transition-delay: 500ms; }

.activity-list__item-enter-active:nth-child(10), .activity-list__item-leave-active:nth-child(10) { transition-delay: 550ms; }

.activity-list__item-enter-active:nth-child(11), .activity-list__item-leave-active:nth-child(11) { transition-delay: 600ms; }

.activity-list__item-enter-active:nth-child(12), .activity-list__item-leave-active:nth-child(12) { transition-delay: 650ms; }

.activity-list__item-enter-active:nth-child(13), .activity-list__item-leave-active:nth-child(13) { transition-delay: 700ms; }

.activity-list__item-enter-active:nth-child(14), .activity-list__item-leave-active:nth-child(14) { transition-delay: 750ms; }

.activity-list__item-enter-active:nth-child(15), .activity-list__item-leave-active:nth-child(15) { transition-delay: 800ms; }

.activity-list__item-enter-active:nth-child(16), .activity-list__item-leave-active:nth-child(16) { transition-delay: 850ms; }

.activity-list__item-enter-active:nth-child(17), .activity-list__item-leave-active:nth-child(17) { transition-delay: 900ms; }

.activity-list__item-enter-active:nth-child(18), .activity-list__item-leave-active:nth-child(18) { transition-delay: 950ms; }

.activity-list__item-enter-active:nth-child(19), .activity-list__item-leave-active:nth-child(19) { transition-delay: 1000ms; }

.activity-list__item-enter-active:nth-child(20), .activity-list__item-leave-active:nth-child(20) { transition-delay: 1050ms; }

.activity-list__item-enter-active:nth-child(21), .activity-list__item-leave-active:nth-child(21) { transition-delay: 1100ms; }

.activity-list__item-enter-active:nth-child(22), .activity-list__item-leave-active:nth-child(22) { transition-delay: 1150ms; }

.activity-list__item-enter-active:nth-child(23), .activity-list__item-leave-active:nth-child(23) { transition-delay: 1200ms; }

.activity-list__item-enter-active:nth-child(24), .activity-list__item-leave-active:nth-child(24) { transition-delay: 1250ms; }

.activity-list__item-enter-active:nth-child(25), .activity-list__item-leave-active:nth-child(25) { transition-delay: 1300ms; }

.activity-list__item-enter-active:nth-child(26), .activity-list__item-leave-active:nth-child(26) { transition-delay: 1350ms; }

.activity-list__item-enter-active:nth-child(27), .activity-list__item-leave-active:nth-child(27) { transition-delay: 1400ms; }

.activity-list__item-enter-active:nth-child(28), .activity-list__item-leave-active:nth-child(28) { transition-delay: 1450ms; }

.activity-list__item-enter-active:nth-child(29), .activity-list__item-leave-active:nth-child(29) { transition-delay: 1500ms; }

.activity-list__item-enter-active:nth-child(30), .activity-list__item-leave-active:nth-child(30) { transition-delay: 1550ms; }

.activity-list__item-enter-active:nth-child(31), .activity-list__item-leave-active:nth-child(31) { transition-delay: 1600ms; }

.activity-list__item-enter-active:nth-child(32), .activity-list__item-leave-active:nth-child(32) { transition-delay: 1650ms; }

.activity-list__item-enter-active:nth-child(33), .activity-list__item-leave-active:nth-child(33) { transition-delay: 1700ms; }

.activity-list__item-enter-active:nth-child(34), .activity-list__item-leave-active:nth-child(34) { transition-delay: 1750ms; }

.activity-list__item-enter-active:nth-child(35), .activity-list__item-leave-active:nth-child(35) { transition-delay: 1800ms; }

.activity-list__item-enter-active:nth-child(36), .activity-list__item-leave-active:nth-child(36) { transition-delay: 1850ms; }

.activity-list__item-enter-active:nth-child(37), .activity-list__item-leave-active:nth-child(37) { transition-delay: 1900ms; }

.activity-list__item-enter-active:nth-child(38), .activity-list__item-leave-active:nth-child(38) { transition-delay: 1950ms; }

.activity-list__item-enter-active:nth-child(39), .activity-list__item-leave-active:nth-child(39) { transition-delay: 2000ms; }

.activity-list__item-enter-active:nth-child(40), .activity-list__item-leave-active:nth-child(40) { transition-delay: 2050ms; }

.activity-list__item-enter-active:nth-child(41), .activity-list__item-leave-active:nth-child(41) { transition-delay: 2100ms; }

.activity-list__item-enter-active:nth-child(42), .activity-list__item-leave-active:nth-child(42) { transition-delay: 2150ms; }

.activity-list__item-enter-active:nth-child(43), .activity-list__item-leave-active:nth-child(43) { transition-delay: 2200ms; }

.activity-list__item-enter-active:nth-child(44), .activity-list__item-leave-active:nth-child(44) { transition-delay: 2250ms; }

.activity-list__item-enter-active:nth-child(45), .activity-list__item-leave-active:nth-child(45) { transition-delay: 2300ms; }

.activity-list__item-enter-active:nth-child(46), .activity-list__item-leave-active:nth-child(46) { transition-delay: 2350ms; }

.activity-list__item-enter-active:nth-child(47), .activity-list__item-leave-active:nth-child(47) { transition-delay: 2400ms; }

.activity-list__item-enter-active:nth-child(48), .activity-list__item-leave-active:nth-child(48) { transition-delay: 2450ms; }

.activity-list__item-enter-active:nth-child(49), .activity-list__item-leave-active:nth-child(49) { transition-delay: 2500ms; }

.activity-list__item-enter-active:nth-child(50), .activity-list__item-leave-active:nth-child(50) { transition-delay: 2550ms; }

.activity-list__item-enter-active:nth-child(51), .activity-list__item-leave-active:nth-child(51) { transition-delay: 2600ms; }

.activity-list__item-enter-active:nth-child(52), .activity-list__item-leave-active:nth-child(52) { transition-delay: 2650ms; }

.activity-list__item-enter-active:nth-child(53), .activity-list__item-leave-active:nth-child(53) { transition-delay: 2700ms; }

.activity-list__item-enter-active:nth-child(54), .activity-list__item-leave-active:nth-child(54) { transition-delay: 2750ms; }

.activity-list__item-enter-active:nth-child(55), .activity-list__item-leave-active:nth-child(55) { transition-delay: 2800ms; }

.activity-list__item-enter-active:nth-child(56), .activity-list__item-leave-active:nth-child(56) { transition-delay: 2850ms; }

.activity-list__item-enter-active:nth-child(57), .activity-list__item-leave-active:nth-child(57) { transition-delay: 2900ms; }

.activity-list__item-enter-active:nth-child(58), .activity-list__item-leave-active:nth-child(58) { transition-delay: 2950ms; }

.activity-list__item-enter-active:nth-child(59), .activity-list__item-leave-active:nth-child(59) { transition-delay: 3000ms; }

.activity-list__item-enter-active:nth-child(60), .activity-list__item-leave-active:nth-child(60) { transition-delay: 3050ms; }

.activity-list__item-enter-active:nth-child(61), .activity-list__item-leave-active:nth-child(61) { transition-delay: 3100ms; }

.activity-list__item-enter-active:nth-child(62), .activity-list__item-leave-active:nth-child(62) { transition-delay: 3150ms; }

.activity-list__item-enter-active:nth-child(63), .activity-list__item-leave-active:nth-child(63) { transition-delay: 3200ms; }

.activity-list__item-enter-active:nth-child(64), .activity-list__item-leave-active:nth-child(64) { transition-delay: 3250ms; }

.activity-list__item-enter-active:nth-child(65), .activity-list__item-leave-active:nth-child(65) { transition-delay: 3300ms; }

.activity-list__item-enter-active:nth-child(66), .activity-list__item-leave-active:nth-child(66) { transition-delay: 3350ms; }

.activity-list__item-enter-active:nth-child(67), .activity-list__item-leave-active:nth-child(67) { transition-delay: 3400ms; }

.activity-list__item-enter-active:nth-child(68), .activity-list__item-leave-active:nth-child(68) { transition-delay: 3450ms; }

.activity-list__item-enter-active:nth-child(69), .activity-list__item-leave-active:nth-child(69) { transition-delay: 3500ms; }

.activity-list__item-enter-active:nth-child(70), .activity-list__item-leave-active:nth-child(70) { transition-delay: 3550ms; }

.activity-list__item-enter-active:nth-child(71), .activity-list__item-leave-active:nth-child(71) { transition-delay: 3600ms; }

.activity-list__item-enter-active:nth-child(72), .activity-list__item-leave-active:nth-child(72) { transition-delay: 3650ms; }

.activity-list__item-enter-active:nth-child(73), .activity-list__item-leave-active:nth-child(73) { transition-delay: 3700ms; }

.activity-list__item-enter-active:nth-child(74), .activity-list__item-leave-active:nth-child(74) { transition-delay: 3750ms; }

.activity-list__item-enter-active:nth-child(75), .activity-list__item-leave-active:nth-child(75) { transition-delay: 3800ms; }

.activity-list__item-enter-active:nth-child(76), .activity-list__item-leave-active:nth-child(76) { transition-delay: 3850ms; }

.activity-list__item-enter-active:nth-child(77), .activity-list__item-leave-active:nth-child(77) { transition-delay: 3900ms; }

.activity-list__item-enter-active:nth-child(78), .activity-list__item-leave-active:nth-child(78) { transition-delay: 3950ms; }

.activity-list__item-enter-active:nth-child(79), .activity-list__item-leave-active:nth-child(79) { transition-delay: 4000ms; }

.activity-list__item-enter-active:nth-child(80), .activity-list__item-leave-active:nth-child(80) { transition-delay: 4050ms; }

.activity-list__item-enter-active:nth-child(81), .activity-list__item-leave-active:nth-child(81) { transition-delay: 4100ms; }

.activity-list__item-enter-active:nth-child(82), .activity-list__item-leave-active:nth-child(82) { transition-delay: 4150ms; }

.activity-list__item-enter-active:nth-child(83), .activity-list__item-leave-active:nth-child(83) { transition-delay: 4200ms; }

.activity-list__item-enter-active:nth-child(84), .activity-list__item-leave-active:nth-child(84) { transition-delay: 4250ms; }

.activity-list__item-enter-active:nth-child(85), .activity-list__item-leave-active:nth-child(85) { transition-delay: 4300ms; }

.activity-list__item-enter-active:nth-child(86), .activity-list__item-leave-active:nth-child(86) { transition-delay: 4350ms; }

.activity-list__item-enter-active:nth-child(87), .activity-list__item-leave-active:nth-child(87) { transition-delay: 4400ms; }

.activity-list__item-enter-active:nth-child(88), .activity-list__item-leave-active:nth-child(88) { transition-delay: 4450ms; }

.activity-list__item-enter-active:nth-child(89), .activity-list__item-leave-active:nth-child(89) { transition-delay: 4500ms; }

.activity-list__item-enter-active:nth-child(90), .activity-list__item-leave-active:nth-child(90) { transition-delay: 4550ms; }

.activity-list__item-enter-active:nth-child(91), .activity-list__item-leave-active:nth-child(91) { transition-delay: 4600ms; }

.activity-list__item-enter-active:nth-child(92), .activity-list__item-leave-active:nth-child(92) { transition-delay: 4650ms; }

.activity-list__item-enter-active:nth-child(93), .activity-list__item-leave-active:nth-child(93) { transition-delay: 4700ms; }

.activity-list__item-enter-active:nth-child(94), .activity-list__item-leave-active:nth-child(94) { transition-delay: 4750ms; }

.activity-list__item-enter-active:nth-child(95), .activity-list__item-leave-active:nth-child(95) { transition-delay: 4800ms; }

.activity-list__item-enter-active:nth-child(96), .activity-list__item-leave-active:nth-child(96) { transition-delay: 4850ms; }

.activity-list__item-enter-active:nth-child(97), .activity-list__item-leave-active:nth-child(97) { transition-delay: 4900ms; }

.activity-list__item-enter-active:nth-child(98), .activity-list__item-leave-active:nth-child(98) { transition-delay: 4950ms; }

.activity-list__item-enter-active:nth-child(99), .activity-list__item-leave-active:nth-child(99) { transition-delay: 5000ms; }

.activity-list__item-enter-active:nth-child(100), .activity-list__item-leave-active:nth-child(100) { transition-delay: 5050ms; }

.activity-list__item-enter, .activity-list__item-leave-to { opacity: 0; transform: translateX(20px); pointer-events: none; }

.activity-list__item-enter-to, .activity-list__item-leave { opacity: 1; transform: translateX(0); pointer-events: auto; }
/*# sourceMappingURL=maps/style.css.map */