.contents {
  position: relative;
  z-index: 1;
}

// 左側に等余白あけ, 右に100%伸びる
.container {
  width: calc(50vw + #{$base-width}/2); // 左に 680px あけたときの残りの幅
  transform: translateX(calc((100vw - #{$base-width}) / 2)); // あけたぶんずらす
}
