.activity-list {
  $this: &;

  &__item {
    &-enter-active,
    &-leave-active {
      transition-timing-function: ease-in-out;
      transition-duration: 450ms;
      transition-property: all;
      @for $i from 1 through 100 {
        &:nth-child(#{$i}) {
          transition-delay: ($i * 50ms) + 50;
        }
      }
    }

    &-enter,
    &-leave-to {
      opacity: 0;
      transform: translateX(20px);
      pointer-events: none;
    }
    
    &-enter-to,
    &-leave {
      opacity: 1;
      transform: translateX(0);
      pointer-events: auto;
    }
  }
}
